<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aubay.pokemon.home">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/module_feature_home_title">
        <dist:fusing dist:include="true" />
    </dist:module>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.aubay.pokemon.home.view.activities.HomeActivity" />

    </application>

</manifest>

